
<div class='d-flex justify-content-center mt-5'>


<table class="table table-striped pr-2 pl-2 w-sm-75">
    <thead>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Sposób wykorzystania</th>
        <td>{{dataSource.actualUse}}</td>
      </tr>
      <tr>
        <th scope="row">Budynek</th>
        <td>{{dataSource.buildingNumber}}</td>
      </tr>
      <tr>
        <th scope="row">Piętro</th>
        <td>{{dataSource.floor}}</td>
      </tr>
      <tr>
        <th scope="row">Numer</th>
        <td>{{dataSource.number}}</td>
      </tr>
      <tr>
        <th scope="row">Liczba miejsc (studentów)</th>
        <td>{{dataSource.seats ? dataSource.seats : 'brak'}}</td>
      </tr>
      <tr>
        <th scope="row">Powierzchnia</th>
        <td>{{dataSource.space ? dataSource.space + ' m2': 'brak informacji'}}</td>
      </tr>
    </tbody>
  </table>
</div>
