<div class="container container-md mt-5">

  <div class="row">
    <div class="d-flex flex-column align-content-center w-100">

      <h1 class="mr-auto ml-auto display-4 mb-4">{{room.actualUse | titlecase}} {{room.floor}}/{{room.number}} bud.
        {{room.buildingNumber}}
      </h1>

      <div>
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Rezerwacje">
            <div class="mt-5">
              <app-schedule [roomId]='routeId'></app-schedule>
            </div>
          </mat-tab>
          <mat-tab label="Wyposażenie">
            <app-equipment [roomId]='routeId'></app-equipment>
          </mat-tab>
          <mat-tab label="Szczegóły">
            <app-room-details [room]='room'></app-room-details>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
