
<mat-form-field class="example-full-width">
  <input [(ngModel)]='selectedStartTime' matInput placeholder="Godz. rozpoczęcia" [format]="24"  [ngxTimepicker]="startpicker">
</mat-form-field>

<ngx-material-timepicker #startpicker ></ngx-material-timepicker>

<mat-form-field class="example-full-width">
  <input [(ngModel)]='selectedEndTime' matInput placeholder="Godz. zakończennia" [format]="24" [ngxTimepicker]="endpicker">
</mat-form-field>
<ngx-material-timepicker #endpicker ></ngx-material-timepicker>
