.campus{
  // background: blue;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.showcase-text{
  min-height: 300px;

  width: 100%;
  margin: auto;
  // color: #060606;
  font-family: 'Montserrat', sans-serif;
  h1:first-child{
   font-weight: 400;
  }
  h1{
   font-size: 100px;
   
  }
}
.flex-center-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// bootstrap lg breakpoint
@media (max-width: 992px) {
  .campus{
    margin-top: 100px;
  }
  .showcase-text{
    margin-top: 50px;
    // fix button 'click event' hiding under the campus image 
    z-index: 2;
    h1{
      font-size: 80px;
     }
  
  }
}
  @media (min-width: 1200px) {
    .showcase-text{
      h1{
        font-size: 120px;
       }
    }
}
