<div class="container container-md mt-5">
  <div class="row justify-content-center h-80vh">
    <div class="col-md-7 mb-4">
      <mat-card class="center mat-elevation-z15">
        <form [formGroup]="loginForm">
          <!-- Email  -->
          <div>
            <mat-form-field class="w-100">
              <input matInput placeholder="Email" formControlName="emailFormControl">
              <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                Proszę wpisać prawidłowy adres e-mail.
              </mat-error>
              <mat-error *ngIf="email.hasError('required')">
                Email jest wymagany.
              </mat-error>
            </mat-form-field>
          </div>
         <!-- Password -->
          <div>
            <mat-form-field class="w-100">
              <input matInput placeholder='Hasło' type='password'>
            </mat-form-field>
          </div>
        </form>
        <mat-card-actions align='end'>
          <button mat-raised-button color="primary" (onclick)='onSubmit()' [disabled]="loginForm.invalid">Zaloguj się</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>
