/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

body,html{
    height: 100%;
    font-size: 14px;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.hide {
    display: none;
}
.center{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flex-col-fluid {
    display: flex;
    flex-direction: column;
    * {
      width: 100%;
    }
  }


.container-md{
    max-width: 960px;
}

.spacer{
    // takes all empty space between elements
    flex: 1 1 auto;
  }
  .pointer {cursor: pointer;}