
<div  class="d-flex align-items-center justify-content-around">
  <mat-form-field>
    <input matInput [(ngModel)]="dateFilter" (dateChange)="dateFilterChanged($event)" [matDatepicker]="picker" placeholder="Wybierz dzień">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-checkbox color="primary" [(ngModel)]="showAll" (ngModelChange)="onShowAllClick()">Pokaż wszystkie</mat-checkbox>
</div>

<div class="mat-elevation-z8 mt-4">
<mat-accordion class="headers-align">
  <mat-expansion-panel *ngFor="let item of dataSource; let i = index"
  [expanded]="rowIndex === i" (opened)="setRowIndex(i)"
  >
      <mat-expansion-panel-header>
          <mat-panel-title>{{item.subject}}</mat-panel-title>
          <mat-panel-description>
            <span *ngIf="item.isCyclical">{{item.reservationDays | daysOfWeek}}&nbsp;</span>
            {{!item.isCyclical && showAll ?  (item.start | date:"dd/MM/yyyy HH:mm") : (item.start | date:"HH:mm")}}
            -
            {{item.end | date:"HH:mm"}}
          </mat-panel-description>
      </mat-expansion-panel-header>
      <p *ngIf="item.isCyclical">Czas trwania: {{item.start | date:"dd/MM/yyyy"}} - {{item.cancelationDateTime | date:"dd/MM/yyyy"}}</p>


      <p>Utworzył: {{item.createdBy ? item.createdBy : "brak danych"}}</p>

      <mat-action-row>
          <button mat-raised-button color="primary">Edytuj</button>
          <button (click)="setRowIndex(i-1)" *ngIf="rowIndex!=0" mat-button color="accent">Poprzedni</button>
          <button (click)="setRowIndex(i+1)" *ngIf="(dataSource.length - 1) != rowIndex" color="primary" mat-button>Następny</button>

      </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
</div>
