<div class="d-flex flex-column align-items-center">
 <div class='d-flex align-self-end mb-5'>
  <button mat-fab color='primary' (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseExample" class=''>
    <mat-icon *ngIf="isCollapsed"  class="material-icons" style="color:white;">
      add
      </mat-icon>
      <mat-icon *ngIf="!isCollapsed" class="material-icons">
        remove
        </mat-icon>
  </button>
  <span class='d-block ml-3 align-self-center'><strong >{{isCollapsed ? "Dodaj rezerwacje" : "Anuluj"}}</strong> </span>
</div>
  <div id="collapseExample" [ngbCollapse]="isCollapsed">
    <app-reservation (reservationTime)='postReservation($event)'></app-reservation>
  </div>
  <div class="d-flex justify-content-around align-items-center w-75">
    <mat-form-field>
      <input matInput [(ngModel)]="dateFilter" (dateChange)="dateFilterChanged($event)" [matDatepicker]="picker"
        placeholder="Wybierz dzień">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox color="primary" [(ngModel)]="showAll" (ngModelChange)="onShowAllClick()">Pokaż wszystkie</mat-checkbox>
  </div>


  <div class="mat-elevation-z8 m-5 w-90">
    <mat-accordion class="headers-align">
      <mat-expansion-panel *ngFor="let item of dataSource; let i = index" [expanded]="rowIndex === i"
        (opened)="setRowIndex(i)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.subject}}
          </mat-panel-title>
          <mat-panel-description>


            <span *ngIf="item.isCyclical">{{item.reservationDays | daysOfWeek}}&nbsp;</span>

            {{!item.isCyclical && showAll ?  (item.start | date:"dd/MM/yyyy HH:mm") : (item.start | date:"HH:mm")}}
            -
            {{getEndTime(item)}}

            <mat-icon *ngIf="item.awaitsAcceptance" color="warn" matTooltip="Rezerwacja w trakcie akceptacji."
              class="material-icons ml-2">error_outline</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngIf="item.isCyclical">Czas trwania: {{item.start | date:"dd/MM/yyyy"}} - {{item.end | date:"dd/MM/yyyy"}}
        </p>

        <p>Utworzył: {{item.userName ? item.userName : "brak informacji"}}</p>

        <mat-action-row>
          <button mat-raised-button color="primary">Anuluj</button>
          <button (click)="setRowIndex(i-1)" *ngIf="rowIndex!=0" mat-button color="accent">Poprzedni</button>
          <button (click)="setRowIndex(i+1)" *ngIf="(dataSource.length - 1) != rowIndex" color="primary"
            mat-button>Następny</button>

        </mat-action-row>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>
