
<div>
  Wybierz dzień : dziś
</div>

<div class="mat-elevation-z8">

  <mat-expansion-panel 
  >
      <mat-expansion-panel-header>
          <mat-panel-title>item subject</mat-panel-title>
          <mat-panel-description>15:40 - 16:50</mat-panel-description>
      </mat-expansion-panel-header>
      <p>Dni tygodnia: Poniedziałek, Wtorek </p>
      <p>Ważna od 2019-08-25 13:40 do 2019-10-29 20:00</p>
      <p>Utworzył Jan Janusz</p>
      
      <mat-action-row>
          <button mat-button (click)="onAction(event)">Edytuj</button>
          <button mat-button (click)="onAction(event)">Następny</button>
      </mat-action-row>
  </mat-expansion-panel>


</div>