

<div class="container container-md">
    <div class="row justify-content-center">
      
      <div class="col-md-8 order-md-1 mb-4">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, voluptate repellendus? Reiciendis, maiores. Repellat voluptate cupiditate dicta nobis, ipsam blanditiis nulla ipsa unde molestias non perspiciatis reprehenderit est ab rem?</h1>

      </div>

      <div class="col-md-4 order-md-2">
        
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolorum perspiciatis, adipisci cumque officiis, saepe rerum quas at vel incidunt ab voluptate, repellendus nostrum ipsum et explicabo. Consectetur, omnis voluptates!</h4>

      </div>
    </div>
  </div>
  
  