<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'push'"

      >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
        <mat-list-item >
            <mat-icon mat-list-icon>meeting_room</mat-icon>
            <a [routerLink]="['/campus/rooms']">Przegląd pomieszczeń</a>
        </mat-list-item>
        <mat-list-item >
            <mat-icon mat-list-icon>calendar_today</mat-icon>
            <a href="#">Rezerwacja</a>
        </mat-list-item>
        <h3 mat-subheader>Ustawienia</h3>
        <mat-list-item >
            <mat-icon mat-list-icon>account_circle</mat-icon>
            <a href="#">Konto</a>
        </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a [routerLink]="['/campus']" class="cursor-link">SGGW SRS</a>
      <span class="spacer"></span>
      <button mat-button class="mr-2">Zaloguj się</button>
      <button mat-raised-button >Utwórz konto</button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
