
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 350px;
}

.sidenav .mat-toolbar {
  background: inherit;
 
 
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 9999;
}
.spacer{
  // takes all empty space between elements
  flex: 1 1 auto;
}
.mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
}
