
      <mat-card class="center mat-elevation-z15">

        <form [formGroup]="findRoomForm">
            <mat-form-field class="w-100">
                <mat-select placeholder="Rodzaj sali" formControlName="roomType">
                  <mat-option>
                    <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let room of roomTypes" [value]="room">{{room}}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>

      </mat-card>
