
// Import material theming functions
@import '~@angular/material/theming';
@import './_palette.scss';


// Create your Sass color vars (will be available in all the project)
$primary: mat-color($custom-app-primary);
$accent: mat-color($custom-app-accent);
$accent-light: mat-color($custom-app-accent, 50);
$primary-light: mat-color($custom-app-primary, 50);
